<div class="fat-footer hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-2">
        <div class="site-map-box">
          <h2>市府介紹</h2>
          <ul>
            <li><a href="{{ site.baseurl }}/office/gov-intro">市長簡介</a></li>
            <li><a href="#">市府團隊</a></li>
            <li><a href="#">市府位置</a></li>
            <li><a href="#">辦公室平面圖</a></li>
            <li><a href="#">聯絡電話</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="site-map-box">
          <h2>公開資訊</h2>
          <ul>
            <li><a href="#">市政新聞</a></li>
            <li><a href="#">活動訊息</a></li>
            <li><a href="#">一般公告</a></li>
            <li><a href="#">徵才公告</a></li>
            <li><a href="#">招標公告</a></li>
            <li><a href="#">促參案公告</a></li>
            <li><a href="#">市政公報</a></li>
            <li><a href="#">市政統計</a></li>
            <li><a href="#">市務會議記錄</a></li>
            <li><a href="#">施政計畫</a></li>
            <li><a href="#">施政報告</a></li>
            <li><a href="#">出國報告</a></li>
            <li><a href="#">預算報告</a></li>
            <li><a href="#">開放資料</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="site-map-box">
          <h2>市民服務</h2>
          <ul>
            <li><a href="#">市民申請e好辦</a></li>
            <li><a href="#">市民信箱</a></li>
            <li><a href="#">市民 APP</a></li>
            <li><a href="#">市民手冊</a></li>
            <li><a href="#">市民電子報</a></li>
            <li><a href="#">常見問題 Q&A</a></li>
            <li><a href="#">消費者申訴</a></li>
            <li><a href="#">服務中心</a></li>
            <li><a href="#">雙語詞彙</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="site-map-box">
          <h2>認識新竹</h2>
          <ul>
            <li><a href="#">新竹沿革</a></li>
            <li><a href="#">地理位置</a></li>
            <li><a href="#">自然氣候</a></li>
            <li><a href="#">產業發展</a></li>
            <li><a href="#">市徽、花、樹、鳥</a></li>
            <li><a href="#">風城影音館</a></li>
            <li><a href="#">新竹姊妹市</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="site-map-box">
          <h2>相關連結</h2>
          <ul>
            <li><a href="#">各處及一級機關</a></li>
            <li><a href="#">區公所及二級機關</a></li>
            <li><a href="#">本府其他相關網站</a></li>
            <li><a href="#">外部相關網站</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
