<!-- home-brew hamberg -->
<div class="hambg-cover bye">
  <div class="close-btn js-hambg-close"><img src="{{site.imgurl}}/X.svg" alt="close"></div>
  <ul>
    <li><a href="{{ site.baseurl }}/office/">市府介紹</a></li>
    <li><a href="">公開資訊</a></li>
    <li><a href="">市民服務</a></li>
    <li><a href="">認識新竹</a></li>
    <li><a href="">相關連結</a></li>
    <li><a href="">En/中/日</a></li>
  </ul>
</div>

<div class="wrapping">
  <!-- bs-header -->
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <div class="clearfix">
          <img class="js-hambg-open hambg-logo visible-xs" src="{{site.imgurl}}/burger.svg" alt="nav">
          <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{site.imgurl}}/logo.svg" alt="logo"></a>
          <!-- <img class="js-nav-search search-logo hambg-logo visible-xs pull-right" src="{{site.imgurl}}/burger.svg" alt="nav"> -->
          <span class="glyphicon glyphicon-search js-nav-search search-logo hambg-logo visible-xs pull-right" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-remove js-nav-search-close colse-logo hambg-logo visible-xs pull-right" aria-hidden="true"></span>
        </div>
        <div class="search-box visible-xs">
          <form action="" class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" id="nav-search" placeholder="search">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li style="height:50px; padding-top:8px;">
            <div class="search-box">
              <form action="" class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control" id="top-nav-search" placeholder="search">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="margin-top: 0px;">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          <li><a href="#lang">En / 中/ 日</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
