/* yello = background-color: #FFE100;*/

/* blue = background-color: #4fbfd3;*/

body {}
.container.custom {
  max-width: 975px;
}
p {
  font-family: open sans, calibre;
}
.centre {
  vertical-align: middle;
}
.center {
  text-align: center;
}
.navbar {
  padding: 6px 0;
}
.navbar-2, .div-marquee {
  background: #EEEEEE;
}
.div-marquee {
  margin: 0 15px 15px 15px;
}
.navbar-brand {
  padding: 0;
  padding-top: 3px;
}
@media (min-width: 1200px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
}
.navbar-brand img {
  height: 40px;
}
.navbar-default {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  ;
}
.hambg {
  margin-left: 15px;
  float: left;
  border: none;
}
@media (max-width: 767px) {
  .navbar-brand {
    /*position: relative;
    display: inline-block;
    text-align: center;*/
    position: absolute;
    left: 50%;
    margin-left: -96px;
  }
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}
.top-main-nav {
  background-color: #F6F7FC;
  padding-top: 10px;
}
.top-main-nav a {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  /*text-align: center;*/
  color: #979797;
  font-size: 18px;
  letter-spacing: 1px;
}
@media screen and (min-width: 992px) {
  .div-marquee {
    margin: 0px;
  }
}
#first-visit-alert-row {
  background-color: pink;
  padding-top: 5px;
  height: 32px;
  vertical-align: center;
}
.alert-banner-sentence {
  vertical-align: center;
}
.alert-banner-sentence::before {
  height: 100%;
  width: 0;
  content: "";
  vertical-align: middle;
  position: relative;
  background: #f00;
}
#carousel-go {
  margin-bottom: 20px;
}
.div-new-visit-count {
  margin-top: 20px;
}
.index-first {
  width: auto;
  /*height: 100vh;*/
  height: calc(100vh - 129px);
  /*height: 100%;*/
  background-color: #f6f7fc;
  background: #f6f7fc no-repeat 100% top url(../img/photo.png);
  /*background-size: cover;*/
}
.navbar {
  margin: 0;
}
.index-search {
  margin-top: 30vh;
  padding: 0;
}

/* col-md */

@media (min-width: 768px) and (max-width: 1199px) {
  .index-first {
    background: #f6f7fc no-repeat 130% top url(../img/photo.png);
    background-size: 80%;
  }
  .index-search {
    margin-top: 60vh;
  }
}

/* col-sm */

@media (max-width: 767px) {
  .index-first {
    background: #f6f7fc no-repeat right top url(../img/photo.png);
    background-size: contain;
    height: calc(100vh - 64px);
  }
  .index-search {
    margin-top: 65vh;
    padding: 15px;
  }
}



.hambg-logo {
  height: 21px;
  float: left;
  margin: 15px;
  z-index: 100;
  cursor: pointer;
}
.hambg-cover {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 15px;
  transform: translateY(0);
  transition: 0.3s ease-in-out;
}
.hambg-cover.bye {
  transform: translateY(-100%);
  transition: 0.3s ease-in-out;
}
.hambg-cover .close-btn {
  margin: 0;
  width: 21px;
  cursor: pointer;
}
.hambg-cover ul {
  margin-left: -10px;
}
.hambg-cover ul li {
  list-style: none;
  margin-left: 0em;
  margin-top: 1.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.hambg-cover a {
  color: rgba(255, 255, 255, 1);
  letter-spacing: 2px;
  font-size: 24px;
  text-decoration: none;
}
.index-search .input-group, .index-search .input-group input {
  /*width: 100%;*/
}
.index-search .input-group input {
  -webkit-appearance: none;
}
.no-padding {
  padding: 0;
}
footer {
  background-color: rgba(0, 0, 0, 0.95);
}
footer div {
  color: white;
}
.cubes {
  margin: 15px;
}
.cube {
  border-right: white 7px solid;
  border-bottom: white 7px solid;
}
.cube-yellow {
  background-color: #FFE100;
  min-height: 150px;
}
.cube-blue {
  background-color: #4fbfd3;
  color: white;
  min-height: 150px;
}
.bs-footer {
  padding: 30px 0;
}
.fat-footer {
  padding: 30px 0;
  background-color: #f6f4ee;
}
.fat-footer h2 {
  font-size: 24px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ffe100;
}
.fat-footer ul {
  list-style: none;
}
.fat-footer ul li {
  margin-left: -37px;
  margin-bottom: 3px;
}
.fat-footer ul li a {
  font-size: 16px;
  color: black;
}
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-5ths {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
.box {}
.box .title {
  border-bottom: 3px solid #4fbfd3;
}
.box .title h1 {
  display: inline-block;
  background-color: #4fbfd3;
  margin: 0;
  margin-top: 15px;
  padding: 8px 24px;
  font-size: 18px;
  color: white;
  font-weight: 400;
  letter-spacing: 2px;
}
.box .content {
  padding: 15px 0;
}
.news-box ul {
  list-style: none;
  padding-left: 0;
}
.news-box a {
  color: black;
  font-size: 1.15em;
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 0.5em;
  padding-top: 0.5em
}
.news-box a span {
  display: inline-block;
  float: right;
  color: #999;
}
.cube span {
  padding-top: 20px;
  position: absolute;
  bottom: 10%;
  display: block;
  text-align: center;
  left: calc(50% - 28px);
}
.cube p {
  padding-top: 20px;
  position: absolute;
  bottom: 10%;
  text-align: center;
}
.cube img {
  /*display: block;*/
  text-align: center;
  vertical-align: middle;
  padding-top: 30px;
  height: 85px;

}

.cube .img-mayor {
  height: 100px;
}

.cube .span-1999 {
  left: calc(50% - 15.5703px);
  font-weight: 500;
}

.border-right-offset {
  border-right: none;
}

@media screen and (max-width: 991px){
  .cube {
    border-right: none;
  }
}


.after-header{
  padding-top:70px;
}

.nav-sidebar {
  border-right: #4fbfd3 1px solid;
}

.nav-sidebar li{
  padding-left: 20px;
  font-size: 1.15em;
}

.article-activated{
  background-color: #4fbfd3;
  color: white;
}
